<%- include("./partials/header") %>

  <div align="center">
    <form autocomplete="off" class="form-horizontal bg-light col-sm-4 m-4 border" action="/post" method="POST">
      <br/>
      <div class="form-group">
        <textarea class="form-control" name="content" rows="3" placeholder="What's on your mind?"></textarea>
      </div>
      <div class="form-group">
        <input class="form-control" name="image_url" type="text" placeholder="Image URL?">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-secondary btn-block">Cluck!</button>
      </div>
    </form>
  </div>

<%- include("./partials/footer") %>
